* {
  box-sizing: border-box;
  margin: 0;
}

html {
  all: none;
  font-family: 'Open Sans', sans-serif;
}

body {
  width: 100%;
  background: #fff;
}

.banner {
  background-color: #000;
  color: #fff;
  text-align: center;
  font-size: 1em;
  width: 100%;
}

.banner p {
  padding: 2em;
  font-weight: 700;
  line-height: 1.3em;
}

.header {
  background-color: #F0EEEB;
  padding: auto 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2em 1em;
}

.header-logo {
  font-size: 1.2em;
  font-weight: 700;
}

.burger {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 9;
  top: 0;
  right: -250px;
  background-color: #fff;
  padding-top: 60px;
  transition: right .5s ease;
}

.burger a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 1.3em;
  color: #5A5444;
  display: block;
  transition: .3s;
}

.burger a:hover {
  color: #000;
}

.burger ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.burger.active {
  right: 0;
}

.burger-close {
  position: absolute;
  top: 15px;
  right: 25px;
}

.nav {
  display: none;
}

.intro {
  margin: auto;
  padding: .5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F0EEEB;
  color: #5A5444;
}

.intro-img {
  width: 95%;
}

.intro-title {
  color: #292929;
  font-size: 2em;
  font-weight: 700;
  margin-top: 2em;
  margin-bottom: .5em;
  margin-left: .3em;
}

.intro-desc {
  font-weight: 500;
  margin-left: .6em;
  line-height: 1.7em;
  margin-bottom: .5em;
}

.service {
  width: 100%;
  margin-left: .5em;
}

.service-list {
  height: 7em;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  margin-top: .5em;
}

.service-list-item {
  display: flex;
  align-items: center;
  font-weight: 700;
}

.service-list img {
  margin: 5px;
  margin-right: .8em;
}

.intro-inputs {
  margin-top: 1em;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  margin-bottom: 2em;
}

#email {
  width: 55%;
  padding: 1em;
  font-size: 1em;
  border: 1px solid gray;
  border-radius: .3em;
}

#send {
  color: white;
  background-color: #000;
  border: none;
  border-radius: .3em;
  width: 35%;
  font-size: 1.125em;
  font-weight: 700;
}

.brands-wrapper {
  display: flex;
  list-style-type: none;
  padding: 0;
  width: 95%;
  margin: 2em auto;
}

.brands-wrapper li img {
  width: 70%;
  margin: 1em;
}

.secure {
  background-color: #F0EEEB;
  width: 95%;
  border-radius: 1em;
  margin: auto;
}

.secure-title {
  color: #292929;
  width: 70%;
  padding: 1em;
  padding-bottom: 0;
  font-size: 2em;
  font-weight: 700;
  line-height: 1.3em;
  margin-bottom: .5em;
}

.secure-desc {
  color: #5A5444;
  margin-left: 2em;
  margin-right: 2em;
  line-height: 1.7em;
  margin-bottom: 1.5em;
}

.secure-link {
  margin: auto 2em;
  color: #5A5444;
  font-weight: 700;
}

.editor {
  width: 95%;
}

.editor-title {
  font-size: 2em;
  color: #292929;
  font-weight: 700;
  line-height: 1.3em;
  padding: 1em;
  padding-left: .5em;
  padding-bottom: 0;
}

.editor-desc {
  color: #5A5444;
  margin-left: 1em;
  margin-top: 1em;
  line-height: 1.7em;
  margin-bottom: 1.5em;
}

.editor-link {
  margin: auto 1em;
  color: #292929;
  font-weight: 700;
}

.editor img {
  width: 100%;
  margin-top: 2em;
}

.footer {
  background-color: #000;
  padding: 1em;
}

#footer-brand {
  font-size: 1.3em;
  margin-top: 2.5em;
  margin-bottom: .7em;
}

.footer-reminder-text {
  color: gray;
  line-height: 1.5em;
  margin-bottom: 2em;
}

.footer-menu {
  display: flex;
  flex-wrap: wrap;
  margin-left: 2em;
}

.footer-menu-cats {
  width: 50%;
}

.footer-menu-list {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

.footer-menu-item {
  color: #fff;
  font-weight: 600;
  margin-bottom: 1em;
}

.footer-menu-link {
  margin: .5em;
  text-decoration: none;
  color: gray;
}

@media screen and (min-width: 481px) and (max-width: 820px) {
  .burger,
  .burger-open {
    display: none;
  }

  .nav {
    display: unset;
  }

  .nav a {
    text-decoration: none;
    color: #000;
    font-weight: 600;
    padding: .5em;
  }

  .nav #start {
    background-color: #000;
    color: #fff;
    font-weight: 600;
    border-radius: .3em;
    padding: .7em;
  }

  .intro {
    text-align: left;
    align-items: unset;
  }

  .intro-img {
    height: 37em;
    width: 100%;
    object-fit: cover;
    object-position: 0 0;
    border-radius: 2em;
  }

  .intro-title {
    font-size: 3.5em;
    margin-left: .5em;
  }

  .intro-desc {
    margin-left: 1.5em;
    margin-right: 1em;
    font-size: 1.2em;
  }

  .service-list-item {
    margin-left: .5em;
    font-size: 1.2em;
  }

  .intro-inputs {
    margin-left: .5em;
    max-width: 50%;
  }

  .secure {
    width: 90%;
    display: flex;
    flex-direction: column;
    padding: 3em;
    padding-bottom: 0;
  }

  .secure-title {
    font-size: 3em;
    width: 90%;
  }

  .secure-desc {
    margin-left: 2em;
    font-size: 1.5em;
  }

  .secure-link {
    font-size: 1.5em;
    margin-left: 2em;
    margin-bottom: 0;
  }

  .secure-img {
    height: 30em;
    object-fit: cover;
    object-position: 0 30%;
  }

  .editor {
    width: 90%;
    padding: 2em;
  }

  .editor-title {
    font-size: 3em;
    color: #292929;
  }

  .editor-desc {
    font-size: 1.5em;
  }

  .editor-link {
    font-size: 1.5em;
    color: #5A5444;
  }

  .footer {
    display: flex;
  }

  .footer-reminder {
    width: 45%;
  }

  .footer-menu {
    width: 55%;
    margin-top: 2em;
    margin-bottom: 2em;
  }
}

@media screen and (min-width: 821px) {
  .burger,
  .burger-open {
    display: none;
  }

  .nav {
    display: unset;
  }

  .nav a {
    text-decoration: none;
    color: #000;
    font-weight: 600;
    padding: .5em;
  }

  .nav #start {
    background-color: #000;
    color: #fff;
    font-weight: 600;
    border-radius: .3em;
    padding: .7em;
  }

  .intro {
    display: block;
  }

  .intro-img {
    width: 50px;
  }
}